$purple: #413c58;
$orange: #fb9c42;
$pale-orange: #f6c7a6;
$black: #231f20;
$peach: #f9dcc5;
$white: #f7f7f7;
$brown: #61371b;
$light-brown: #876145;
$red: #c31a31;
html {
  background-color: $purple;
}

body {
  background-color: $purple;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.box {
  background: none;
  position: relative;
  max-width: 600px;
  width: 100vw;
  max-height: 420px;
  height: 70vw;
}

.head {
  position: absolute;
  top: 25%;
  left: 32.5%;
  width: 35%;
  height: auto;
  padding-bottom: 35%;
  border-radius: 50%;
}

.head-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  background-color: $orange;
  z-index: 1;
}

.stripes {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: $black;
  &:nth-child(1) {
    top: -35%;
    left: 25%;
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    bottom: 10%;
    left: -35%;
    transform: rotate(300deg);
  }
  &:nth-child(3) {
    bottom: 10%;
    right: -35%;
    transform: rotate(150deg);
  }
  .mask {
    position: absolute;
    width: 20%;
    height: 110%;
    transform-origin: 100% 100%;
    background-color: $orange;
    &:nth-child(1) {
      left: -20%;
      bottom: 40%;
      transform: rotate(120deg);
    }
    &:nth-child(2) {
      right: -20%;
      transform: rotate(330deg);
    }
  }
}

.ear {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: $orange;
  z-index: 0;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  .inner {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: $pale-orange;
  }
}

.eye-outer {
  position: absolute;
  top: 30%;
  width: 26%;
  height: 30%;
  border-radius: 50%;
  background-color: $peach;
  z-index: 1;
  &.left {
    left: 18%;
  }
  &.right {
    right: 18%;
  }
}

.eye-inner {
  position: absolute;
  bottom: 25%;
  left: 35%;
  width: 30%;
  height: 50%;
  border-radius: 50%;
  background-color: $black;
}

.pupil {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: $white;
}

.face {
  position: absolute;
  bottom: 5%;
  left: 20%;
  width: 60%;
  height: 45%;
  border-radius: 50%;
  background-color: $peach;
  z-index: 2;
}

.nose {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 30%;
  border-radius: 50%;
  background-color: $brown;
  z-index: 3;
  .shine {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 35%;
    height: 25%;
    border-radius: 50%;
    transform: rotate(-10deg);
    background-color: $light-brown;
  }
}

.mouth-outer {
  position: absolute;
  top: 35%;
  width: 30%;
  height: 40%;
  border-radius: 50%;
  background-color: $brown;
  z-index: 2;
  &.left {
    left: 21%;
  }
  &.right {
    right: 21%;
  }
}

.mouth-inner {
  position: absolute;
  top: -5%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $peach;
  &.left {
    left: -5%;
  }
  &.right {
    right: -5%;
  }
}

.tongue-outer {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 30%;
  height: 40%;
  border-radius: 50%;
  background-color: $brown;
}

.tongue-inner {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: $red;
}