doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 4 - Tiger"
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .head
        .head-copy
          .stripes
            .mask
            .mask
          .stripes
            .mask
            .mask
          .stripes
            .mask
            .mask
        .left.ear
          .inner
        .right.ear
          .inner
        .left.eye-outer
          .left.eye-inner
            .pupil
        .right.eye-outer
          .right.eye-inner
            .pupil
        .face
          .nose
            .shine
          .left.mouth-outer
            .left.mouth-inner
          .right.mouth-outer
            .right.mouth-inner
          .tongue-outer
            .tongue-inner