doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 5 - Arthur"
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .arthur
        .head
          .left.ear
            .inner
            .mask
          .right.ear
            .inner
            .mask
          .glasses
            .left.frame
              .eye
                .pupil
            .middle
            .right.frame
              .eye
                .pupil
          .left.nostril
          .right.nostril
          .mouth
            .mask
            .left
              .inner
            .right
              .inner
            .tongue
              .inner
