doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 1 - Panda Cub"
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .head
        .head-copy
          .inner
        .left.ear
        .right.ear
        .left.eye
          .inner
        .right.eye
          .inner
        .nose
        .left.mouth
          .inner
        .right.mouth
          .inner
        .tongue
          .inner