doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 10 - Pencil Jar"
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .pencil-jar
      - for (var i = 0; i < 3; i++)
        .pencil
          .eraser
          .metal
          .middle
          .tip
          .lead
