doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 7 - Ruler"
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .ruler
        - for(var i = 0; i < 41; i++)
          .line
        .left.eye
        .right.eye
        .smile
          .mask
          .cutout
      .pencil
        .eraser
        .metal
        .middle
          .left.eye
          .right.eye
          .smile
            .mask
            .cutout
        .tip
          .lead
        .left.mask
        .right.mask
