doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Daily CSS Images"
  body
    h1 Daily CSS Images
    ul
      li 
        a(href="./day-1/index.html") Day 1 - Cub
      li
        a(href="./day-2/index.html") Day 2 - Elephant
      li
        a(href="./day-3/index.html") Day 3 - Beaver
      li
        a(href="./day-4/index.html") Day 4 - Tiger
      li
        a(href="./day-5/index.html") Day 5 - Favourite Animated Animal
